<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Bayespam/src/Bayespam/Bayespam.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Bayespam.Bayespam"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="C:\Users\Marco\Documents\GitHub\AI2\Bayespam\src\train &#13;&#10;C:\Users\Marco\Documents\GitHub\AI2\Bayespam\src\train"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Bayespam"/>
</launchConfiguration>
